<%= render 'layouts/header' %>
<h1 class= 'centered'>All programming jobs</h1><br>
<div class='container'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Company</th>
        <th>Headquarters</th>
        <th>Job Title</th>
        <th>Industry</th>
        <th>Still available?</th>
      </tr>
    </thead>
    <% @jobs.each do |j| %>
      <tbody>
          <th scope="row"><%= updated_on(j) %></th>
          <td><p class='lead'><strong><%= link_to image_tag(j.company.logo(:thumb)), j.company.url, :target => '_blank'%></strong></p></td>
          <td><h5><%= j.company.headquarters_location %></h5></td>
          <td><p class='lead'><em><%= link_to(j.title, company_job_path(j.company.id, j.id)) %></em></p></td>
          <td><h5><%= j.company.industry %></h5></td>
          <td>
            <% if j.still_available? %>
            <p class='lead'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></p>
            <% else %>
            <p class='lead'><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></p>
            <% end %>
          </td>
      </tbody>
    <% end %>
  </table>
</div>
