<h1>Create a new job posting for <%= @company.name %> below: </h1>

<%= form_for [@company, @job] do |f| %>
<%= render 'shared/errors', object: @job %>
  <p>
    <%= f.label :job_title %>
    <%= f.text_field :title, autofocus: true %>
  </p>

  <p>
    <%= f.label :job_description %>
    <%= f.text_area :description, placeholder: "A quick paragraph on job responsibilities and desired skillset should do the trick." %>
  </p>

  <p>
    <%= f.label :time_spent_in_office %>
    <%= f.number_field :time_spent_in_office %>%
  </p>

  <p>
    <%= f.label :send_resumes_to %>
    <%= f.text_field :how_apply, placeholder: 'jobs@your-company.com' %>
  </p>

  <p>
    <%= f.label :available_positions_for_this_job %>
    <%= f.number_field :available_positions %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
