<%= form_for(@company) do |f| %>
<%= render 'shared/errors' %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :industry %>
    <%= f.text_field :industry, placeholder: "Healthcare IT, Fintech, etc." %>
  </p>
  <p>
    <%= f.label :about_us %>
    <%= f.text_area :about_us, placeholder: "Keep it simple, but significant. 300 characters or less should do the trick.", cols: 25, rows: 2 %>
  </p>
  <p>
    <%= f.label :founded_in %>
    <%= f.number_field :founded_in, placeholder: "year in 'YYYY' format" %>
  </p>
  <p>
    <%= f.label :headquarters_location %>
    <%= f.text_field :headquarters_location, placeholder: "San Francisco, CA" %>
  </p>
  <p>
    <%= f.label :url, "Copy and paste your company homepage URL here: " %>
    <%= f.text_field :url, placeholder: "https://www.remotedev.jobs/home" %>
  </p>
  <p>
    <%= f.label :careers_page_url, "Copy and paste your company careers page URL here: " %>
    <%= f.text_field :careers_page_url, placeholder: "https://www.remotedev.jobs/careers" %>
  </p>
  <p>
    <%= f.label :open_source_projects_url, "Copy and paste your company's open source projects URL here: " %>
    <%= f.text_field :open_source_projects_url, placeholder: "https://www.github.com/remote-devs" %>
  </p>
  <p>
    <%= f.label :stack %>
    <%= f.text_field :stack, placeholder: "Ruby on Rails, Heroku, AWS, PostgreSQL" %>
  </p>
  <p>
    <%= f.label :company_size %>
    <%= f.number_field :size %>
  </p>

  <%= f.submit %> or
  <%= link_to("Cancel", companies_path) %>
<% end %>
